In [1]:
%matplotlib inline
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder

# Run Me First

In [2]:
# Updated file exists at './Resources/ealtman2019/cleaned_columns.csv'

In [3]:
ealtman2019_df = pd.read_csv("./Resources//ealtman2019/credit_card_transactions-ibm_v2.csv")
ealtman2019_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [4]:
ealtman2019_df.shape

(24386900, 15)

In [5]:
# ealtman2019_df["Merchant State"].nunique()

In [6]:
# ealtman2019_df["Merchant State"].unique()

In [7]:
# ealtman2019_df["Is Fraud?"].nunique()

In [8]:
# ealtman2019_df["Errors?"].nunique()

In [9]:
# Unique_Error_df = (ealtman2019_df["Errors?"].unique())
# Unique_Error_df

In [10]:
# ealtman2019_df["Year"].unique()

In [11]:
# ealtman2019_rounded_df = 
# cents_int = int(round(float(dollars.strip('$'))*100))

In [12]:
# types = ealtman2019_df.dtypes
# types

In [13]:
# ealtman2019_df['amount'] = ealtman2019_df.to_numeric(ealtman2019_df['amount'])
# ealtman2019_df['amount'] = ealtman2019_df.int(round(float(amount.strip('$'))))
# ealtman2019_df['amount'] = ealtman2019_df(['amount'].strip('$'))
ealtman2019_df['Amount'] = ealtman2019_df['Amount'].str.replace("$","")

C:\Users\Aaron\AppData\Local\Temp\ipykernel_3144\120783198.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ealtman2019_df['Amount'] = ealtman2019_df['Amount'].str.replace("$","")

In [14]:
# ealtman2019_df["Amount"].unique()

In [15]:
ealtman2019_df['Amount'] = ealtman2019_df["Amount"].astype(float)
# ds["cat"] = ds["cat"].astype(int)

In [16]:
ealtman2019_df['Amount'] = ealtman2019_df["Amount"].round(decimals = 0)

In [17]:
ealtman2019_df['Amount'] = ealtman2019_df['Amount'].astype(int)

In [18]:
# ealtman2019_df['Amount'].head()

In [19]:
# ealtman2019_df["Use Chip"].unique()

In [20]:
# ealtman2019_df["Merchant State"].nunique()

In [21]:
# ealtman2019_df["User"].nunique()

In [22]:
# ealtman2019_df["Card"].nunique()

In [23]:
# ealtman2019_df["Card"].unique()

In [24]:
# ealtman2019_df['Amount'].min()

In [25]:
# ealtman2019_df['Amount'].max()

In [26]:
# ealtman2019_df[['Amount'] < 0].count()
# negative_amount = (ealtman2019_df['Amount'] < 0).count()
# negative_amount

In [27]:
# limit = 0
# column = ealtman2019_df['Amount']
# count_under = column[column < limit].count()
# count_under

In [28]:
# count_over = column[column > limit].count()
# count_over

In [29]:
# count_zero = column[column == limit].count()
# count_zero

In [30]:
# count = count_over + count_under + count_zero
# count

In [31]:
# ealtman2019_df.groupby(['Amount']).count().sort_values(["Is Fraud?"])

In [32]:
# fraud_column = ealtman2019_df['Is Fraud?']
# fraud_count = fraud_column.count()
# fraud_count

In [33]:
# fraud_Zero = fraud_column[fraud_column == 'No'].count()
# fraud_Zero

In [34]:
# fraud_One  = fraud_column[fraud_column == 'Yes'].count()
# fraud_One

In [35]:
# fraud_Total = fraud_Zero + fraud_One
# fraud_Total

In [36]:
ealtman2019_fraudInt = ealtman2019_df.replace({"Yes": 1})

In [37]:
ealtman2019_fraudInt = ealtman2019_fraudInt.replace({"No": 0})
ealtman2019_fraudInt.head(100)

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,134,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,0
1,0,0,2002,9,1,06:42,38,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0
2,0,0,2002,9,2,06:22,120,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0
3,0,0,2002,9,2,17:45,129,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,0
4,0,0,2002,9,3,06:23,105,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,2002,10,3,06:50,36,Swipe Transaction,-5475680618560174533,Monterey Park,CA,91755.0,5942,NaN,0
96,0,0,2002,10,4,06:20,115,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,0
97,0,0,2002,10,5,09:34,53,Swipe Transaction,-3345936507911876459,La Verne,CA,91750.0,7538,NaN,0
98,0,0,2002,10,5,10:38,17,Swipe Transaction,9137769173591184401,La Verne,CA,91750.0,7210,NaN,0
99,0,0,2002,10,6,06:14,139,Online Transaction,-7421093378627544099,ONLINE,NaN,NaN,5311,NaN,0

In [38]:
ealtman2019_fraudInt['Is Fraud?'].unique()

array([0, 1], dtype=int64)

In [39]:
ealtman2019_oneHotChip = pd.get_dummies(ealtman2019_fraudInt, columns =['Use Chip'])
ealtman2019_oneHotChip.head()

,User,Card,Year,Month,Day,Time,Amount,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Use Chip_Chip Transaction,Use Chip_Online Transaction,Use Chip_Swipe Transaction
0,0,0,2002,9,1,06:21,134,3527213246127876953,La Verne,CA,91750.0,5300,NaN,0,0,0,1
1,0,0,2002,9,1,06:42,38,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0,0,0,1
2,0,0,2002,9,2,06:22,120,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0,0,0,1
3,0,0,2002,9,2,17:45,129,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,0,0,0,1
4,0,0,2002,9,3,06:23,105,5817218446178736267,La Verne,CA,91750.0,5912,NaN,0,0,0,1

In [40]:
ealtman2019_oneHotChip.shape

(24386900, 17)

In [41]:
# ealtman2019_oneHotChip["Amount"].describe()

In [42]:
# count	24386900.00
# mean	43.63
# std	82.02
# min	-500.00
# 25%	9.00
# 50%	30.00
# 75%	65.00
# max	12390.00

In [43]:
# amount = ealtman2019_df['Amount']
# count_over100 = column[amount > 100].count()
# count_over100

In [44]:
# count_under100 = column[amount < 100].count()
# count_under100

In [45]:
# count_under50 = column[amount < 50].count()
# count_under50

In [46]:
# count_under0 = column[amount < 0].count()
# count_under0

In [47]:
# ealtman2019_under0 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] < 0]
# ealtman2019_under0['Amount'].count()

In [48]:
# ealtman2019_0 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] == 0]
# ealtman2019_0['Amount'].count()
# ealtman2019_0_fraud = ealtman2019_0.loc[ealtman2019_0['Is Fraud?'] == 1]
# ealtman2019_0_fraud['Amount'].count()

In [49]:
# ealtman2019_under0_fraud = ealtman2019_under0.loc[ealtman2019_under0['Is Fraud?'] == 1]
# ealtman2019_under0 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] < 0]
# ealtman2019_under0_fraud

In [50]:
# ealtman2019_under0_fraud["Amount"].describe()

In [51]:
# ealtman2019_above0 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 0]

In [52]:
# ealtman2019_above0["Amount"].describe()

In [53]:
# count	22964730.00
# mean	51.87
# std	74.32
# min	1.00
# 25%	12.00
# 50%	34.00
# 75%	68.00
# max	12390.00

In [54]:
# ealtman2019_75percent = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 68]
# ealtman2019_75percent['Amount'].describe()
# ealtman2019_75percent['Amount'].count()

In [55]:
# ealtman2019_thousand = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 1000]
# ealtman2019_thousand['Amount'].describe()

In [56]:
# ealtman2019_500 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 500]
# ealtman2019_500['Amount'].describe()

In [57]:
# ealtman2019_100 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 100]
# ealtman2019_100['Amount'].describe()

In [58]:
# count	2,651,232.00
# mean	186.91
# std	145.82
# min	101.00
# 25%	120.00
# 50%	141.00
# 75%	191.00
# max	12390.00

In [59]:
# ealtman2019_300 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 300]
# ealtman2019_300['Amount'].describe()

In [60]:
# ealtman2019_200 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 200]
# ealtman2019_200['Amount'].describe()

In [61]:
# ealtman2019_50 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 50]
# ealtman2019_50['Amount'].describe()

In [62]:
# count	8311993.00
# mean	109.00
# std	98.86
# min	51.00
# 25%	64.00
# 50%	83.00
# 75%	118.00
# max	12390.00

In [63]:
# ealtman2019_75 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 75]
# ealtman2019_75['Amount'].describe()

In [64]:
# ealtman2019_145 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 145]
# ealtman2019_145['Amount'].describe()

In [65]:
# country_test = ealtman2019_145.replace(
#     dict.fromkeys(["Nigeria",	"Sierra Leone",	"Egypt",	"South Africa",	"Ghana",	"Suriname",	"Eritrea",
#                     "Ethiopia",	"Cameroon",	"Morocco",	"Cabo Verde",	"Senegal",	"Mali",	"Gabon",	"Tunisia",	"Benin",
#                     "Tanzania",	"Djibouti",	"Somalia",	"Botswana",	"Guinea",	"Zambia",	"Burkina Faso",	"Kenya",
#                     "Swaziland",	"Niger",	"Uganda",	"Guyana",	"South Sudan",	"Liberia",	"Sudan",	"Comoros",
#                     "Comoros",	"Republic of the Congo",	"Angola",	"Democratic Republic of the Congo",	"Equatorial Guinea","Cote d'Ivoire",	"Mozambique",	"Malawi",	"Zimbabwe",	"Algeria"], 'Africa'),
#     regex=True
# )
# country_test

In [66]:
# country_test['Merchant State'].nunique()

In [67]:
# country_test2 = country_test.replace(
#     dict.fromkeys(["CA",	"NJ",	"OH",	"NE",	"NV",	"HI",	"IL",	"NY",	"CT",	"AR",	"NM",	"MA",	"MN",	"OR",	"NH",	"KS",	"ME",	"MT",	"ID",	"IA",	"UT",	"SC",	"CO",	"WI",	"VT",	"ND",	"TX",	"FL",	"AK",	"Italy",	"NC",	"MD",	"DC",	"MI",	"PA",	"GA",	"OK",	"AL",	"VA",	"LA",	"DE",	"KY",	"WA",	"AA",	"SD",	"AZ",	"TN",	"MO",	"RI",	"IN",	"WV",	"MS",	"WY"],"United States"),
#     regex=True
# )

In [68]:
# country_test2['Merchant State'].nunique()

In [69]:
# country_test2['Merchant State'].unique()

In [70]:
# outliers = ealtman2019_df[ (ealtman2019_df["Amount"] < 0) & (ealtman2019_df["Amount"] > 145) ].index
# ealtman2019_cleaned = ealtman2019_df.drop(outliers , inplace=True)

In [71]:
# ealtman2019_df.drop(outliers , inplace=True)

In [72]:
# ealtman2019_df.shape

In [73]:
# outliers

In [74]:
ealtman2019_cleaned = ealtman2019_oneHotChip.drop(ealtman2019_oneHotChip[ealtman2019_oneHotChip.Amount <=0].index)

In [75]:
ealtman2019_cleaned = ealtman2019_cleaned.drop(ealtman2019_cleaned[ealtman2019_cleaned.Amount >= 145].index)

In [76]:
ealtman2019_cleaned.shape

(21707289, 17)

In [77]:
# cleaned_continents = ealtman2019_cleaned.replace(
#     dict.fromkeys(["Nigeria",	"Sierra Leone",	"Egypt",	"Democratic Republic of the Congo"	"South Africa",	"Ghana",	"Suriname",	"Eritrea",
#                     "Ethiopia",	"Cameroon",	"Morocco",	"Cabo Verde",	"Senegal",	"Mali",	"Gabon",	"Tunisia",	"Benin",
#                     "Tanzania",	"Djibouti",	"Somalia",	"Botswana",	"Guinea",	"Zambia",	"Burkina Faso",	"Kenya",
#                     "Swaziland",	"Niger",	"Uganda",	"Guyana",	"South Sudan",	"Liberia",	"Sudan",	"Comoros",
#                     "Comoros",	"Republic of the Congo",	"Angola",	"Equatorial Guinea","Cote d'Ivoire",	"Mozambique",	"Malawi",	"Zimbabwe",	"Algeria","Central African Republic"], 'Africa'),
#     regex=True
# )

In [78]:
# cleaned_continents.shape

In [79]:
ealtman2019_cleaned['Asia'] = ealtman2019_cleaned['Merchant State'].map(dict.fromkeys(["China",	"Taiwan",	"Thailand", "Russia", "Cambodia",	"South Korea",	"Indonesia",	"Mongolia",	
               "Myanmar (Burma)",	"Sri Lanka",	"Malaysia",	"India",	"Bangladesh",	"Georgia",	"Kyrgyzstan",
               "East Timor (Timor-Leste)",	"Japan",	"Pakistan",	"Uzbekistan",	"Tonga",
               "Seychelles",	"Vietnam",	"Maldives",	"Hong Kong",	"Singapore",	"Philippines"],1))

In [80]:
ealtman2019_cleaned.head()

,User,Card,Year,Month,Day,Time,Amount,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Use Chip_Chip Transaction,Use Chip_Online Transaction,Use Chip_Swipe Transaction,Asia
0,0,0,2002,9,1,06:21,134,3527213246127876953,La Verne,CA,91750.0,5300,NaN,0,0,0,1,NaN
1,0,0,2002,9,1,06:42,38,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0,0,0,1,NaN
2,0,0,2002,9,2,06:22,120,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0,0,0,1,NaN
3,0,0,2002,9,2,17:45,129,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,0,0,0,1,NaN
4,0,0,2002,9,3,06:23,105,5817218446178736267,La Verne,CA,91750.0,5912,NaN,0,0,0,1,NaN

In [81]:
ealtman2019_cleaned['Asia'].unique()

array([nan,  1.])

In [82]:
ealtman2019_cleaned['Africa'] = ealtman2019_cleaned['Merchant State'].map(
    dict.fromkeys(["Nigeria",	"Sierra Leone",	"Egypt",	"Democratic Republic of the Congo"	"South Africa",	"Ghana",	"Suriname",	"Eritrea",
                    "Ethiopia",	"Cameroon",	"Morocco",	"Cabo Verde",	"Senegal",	"Mali",	"Gabon",	"Tunisia",	"Benin",
                    "Tanzania",	"Djibouti",	"Somalia",	"Botswana",	"Guinea",	"Zambia",	"Burkina Faso",	"Kenya",
                    "Swaziland",	"Niger",	"Uganda",	"Guyana",	"South Sudan",	"Liberia",	"Sudan",	"Comoros",
                    "Comoros",	"Republic of the Congo",	"Angola",	"Equatorial Guinea","Cote d'Ivoire",	"Mozambique",	"Malawi",	"Zimbabwe",	"Algeria","Central African Republic"], 1)
)

In [83]:
ealtman2019_cleaned.head()

,User,Card,Year,Month,Day,Time,Amount,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Use Chip_Chip Transaction,Use Chip_Online Transaction,Use Chip_Swipe Transaction,Asia,Africa
0,0,0,2002,9,1,06:21,134,3527213246127876953,La Verne,CA,91750.0,5300,NaN,0,0,0,1,NaN,NaN
1,0,0,2002,9,1,06:42,38,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0,0,0,1,NaN,NaN
2,0,0,2002,9,2,06:22,120,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0,0,0,1,NaN,NaN
3,0,0,2002,9,2,17:45,129,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,0,0,0,1,NaN,NaN
4,0,0,2002,9,3,06:23,105,5817218446178736267,La Verne,CA,91750.0,5912,NaN,0,0,0,1,NaN,NaN

In [84]:
ealtman2019_cleaned['United States'] = ealtman2019_cleaned['Merchant State'].map(
    dict.fromkeys(["CA",	"NJ",	"OH",	"NE",	"NV",	"HI",	"IL",	"NY",	"CT",	"AR",	"NM",	"MA",
                   "MN",	"OR",	"NH",	"KS",	"ME",	"MT",	"ID",	"IA",	"UT",	"SC",	"CO",	"WI",
                   "VT",	"ND",	"TX",	"FL",	"AK",	"Italy",	"NC",	"MD",	"DC",	"MI",	"PA",	"GA",
                   "OK",	"AL",	"VA",	"LA",	"DE",	"KY",	"WA",	"AA",	"SD",	"AZ",	"TN",	"MO",	"RI",
                   "IN",	"WV",	"MS",	"WY"], 1)
)

In [85]:
ealtman2019_cleaned.head()

,User,Card,Year,Month,Day,Time,Amount,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Use Chip_Chip Transaction,Use Chip_Online Transaction,Use Chip_Swipe Transaction,Asia,Africa,United States
0,0,0,2002,9,1,06:21,134,3527213246127876953,La Verne,CA,91750.0,5300,NaN,0,0,0,1,NaN,NaN,1.0
1,0,0,2002,9,1,06:42,38,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0,0,0,1,NaN,NaN,1.0
2,0,0,2002,9,2,06:22,120,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0,0,0,1,NaN,NaN,1.0
3,0,0,2002,9,2,17:45,129,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,0,0,0,1,NaN,NaN,1.0
4,0,0,2002,9,3,06:23,105,5817218446178736267,La Verne,CA,91750.0,5912,NaN,0,0,0,1,NaN,NaN,1.0

In [86]:
ealtman2019_cleaned['Europe'] = ealtman2019_cleaned['Merchant State'].map(
dict.fromkeys(["Switzerland",	"Estonia",	"Spain",	"Sweden",	"Greece",	"Croatia",	"Serbia",
               "Iceland",	"Netherlands",	"Macedonia",	"Poland",	"Lithuania",	"Liechtenstein",
               "Moldova",	"Albania",	"Malta",	"Norway",	"Vatican City",	"Belgium",	"Slovenia",	"Hungary",
               "Finland",	"Luxembourg",	"Romania",	"Cyprus",	"Monaco",	"Ukraine"], 1)
)

In [87]:
ealtman2019_cleaned['Oceana'] = ealtman2019_cleaned['Merchant State'].map(
dict.fromkeys([	"Australia",	"Fiji",	"Solomon Islands",	"Kiribati",	"Vanuatu",	"New Zealand",	"Papua New Guinea",	"Micronesia",	"Samoa",	"Togo",	"Marshall Islands",	"Nauru",	"Tuvalu"],1)
)

In [88]:
ealtman2019_cleaned["North America"] = ealtman2019_cleaned['Merchant State'].map(
dict.fromkeys([		"Mexico",	"El Salvador",	"Honduras",	"Panama",	"Canada",	"Ecuador",	"Nicaragua",	"Belize",	"Costa Rica"],1)
)

In [89]:
ealtman2019_cleaned["South America"] = ealtman2019_cleaned['Merchant State'].map(
dict.fromkeys([		"Chile",	"Peru",	"Argentina",	"Paraguay",	"Guatemala",	"Colombia",	"Brazil",	"Venezuela",	"Uruguay"],1)
)

In [90]:
ealtman2019_cleaned["Carribean"] = ealtman2019_cleaned['Merchant State'].map(
dict.fromkeys([	"Dominican Republic",	"The Bahamas",	"Barbados",	"Saint Lucia",	"Antigua and Barbuda",	"Haiti",	"Aruba",	"Trinidad and Tobago",	"Dominica",	"Jamaica",	"Sao Tome and Principe",	"Saint Vincent and the Grenadines"],1),
)

In [91]:
ealtman2019_cleaned["Middle East"] = ealtman2019_cleaned['Merchant State'].map(
dict.fromkeys([	"Saudi Arabia",	"Iran",	"Yemen",	"Israel",	"Turkey",	"Lebanon",	"Jordan",	"Syria",	"United Arab Emirates",	"Iraq",	"Brunei",	"Qatar",	"Bahrain",	"Azerbaijan",	"Kuwait",	"Oman"],1)
)

In [92]:
ealtman2019_cleaned.head()

,User,Card,Year,Month,Day,Time,Amount,Merchant Name,Merchant City,Merchant State,...,Use Chip_Swipe Transaction,Asia,Africa,United States,Europe,Oceana,North America,South America,Carribean,Middle East
0,0,0,2002,9,1,06:21,134,3527213246127876953,La Verne,CA,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,2002,9,1,06:42,38,-727612092139916043,Monterey Park,CA,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,2002,9,2,06:22,120,-727612092139916043,Monterey Park,CA,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,2002,9,2,17:45,129,3414527459579106770,Monterey Park,CA,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,2002,9,3,06:23,105,5817218446178736267,La Verne,CA,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
# ealtman2019_cleaned.drop(columns=['Continent'])

In [94]:
ealtman2019_cleaned['Is Fraud?'].unique()

array([0, 1], dtype=int64)

In [95]:
# ealtman2019_cleaned.to_csv('./Resources/ealtman2019/cleaned_continents.csv', encoding='utf-8')

In [96]:
# cleaned_continents = pd.read_csv("./Resources/ealtman2019/cleaned_continents0.csv")
# cleaned_continents.head()

In [97]:
# noMerchant = cleaned_continents.drop(['Merchant Name'], axis=1)
ealtman2019_cleaned = ealtman2019_cleaned.drop(['Merchant Name'], axis=1)

In [98]:
ealtman2019_cleaned.head()

,User,Card,Year,Month,Day,Time,Amount,Merchant City,Merchant State,Zip,...,Use Chip_Swipe Transaction,Asia,Africa,United States,Europe,Oceana,North America,South America,Carribean,Middle East
0,0,0,2002,9,1,06:21,134,La Verne,CA,91750.0,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,2002,9,1,06:42,38,Monterey Park,CA,91754.0,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,2002,9,2,06:22,120,Monterey Park,CA,91754.0,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,2002,9,2,17:45,129,Monterey Park,CA,91754.0,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,2002,9,3,06:23,105,La Verne,CA,91750.0,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
list(ealtman2019_cleaned.columns)

['User',
 'Card',
 'Year',
 'Month',
 'Day',
 'Time',
 'Amount',
 'Merchant City',
 'Merchant State',
 'Zip',
 'MCC',
 'Errors?',
 'Is Fraud?',
 'Use Chip_Chip Transaction',
 'Use Chip_Online Transaction',
 'Use Chip_Swipe Transaction',
 'Asia',
 'Africa',
 'United States',
 'Europe',
 'Oceana',
 'North America',
 'South America',
 'Carribean',
 'Middle East']

In [100]:
ealtman2019_cleaned.rename(columns = {'Use Chip_Chip Transaction':"Chip", 'Use Chip_Online Transaction': 'Online', 'Use Chip_Swipe Transaction': 'Swipe'},inplace=True)

In [101]:
list(ealtman2019_cleaned.columns)

['User',
 'Card',
 'Year',
 'Month',
 'Day',
 'Time',
 'Amount',
 'Merchant City',
 'Merchant State',
 'Zip',
 'MCC',
 'Errors?',
 'Is Fraud?',
 'Chip',
 'Online',
 'Swipe',
 'Asia',
 'Africa',
 'United States',
 'Europe',
 'Oceana',
 'North America',
 'South America',
 'Carribean',
 'Middle East']

In [102]:
ealtman2019_cleaned.head()

,User,Card,Year,Month,Day,Time,Amount,Merchant City,Merchant State,Zip,...,Swipe,Asia,Africa,United States,Europe,Oceana,North America,South America,Carribean,Middle East
0,0,0,2002,9,1,06:21,134,La Verne,CA,91750.0,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,2002,9,1,06:42,38,Monterey Park,CA,91754.0,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,2002,9,2,06:22,120,Monterey Park,CA,91754.0,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,2002,9,2,17:45,129,Monterey Park,CA,91754.0,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,2002,9,3,06:23,105,La Verne,CA,91750.0,...,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ealtman2019_cleaned = ealtman2019_cleaned.fillna(0)

In [105]:
ealtman2019_cleaned.to_csv('./Resources/ealtman2019/cleaned_columns.csv', encoding='utf-8', index=False)