In [1]:
%matplotlib inline
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

In [2]:
ealtman2019_df = pd.read_csv("./Resources//ealtman2019/credit_card_transactions-ibm_v2.csv")
ealtman2019_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [3]:
ealtman2019_df.shape

(24386900, 15)

In [4]:
types = ealtman2019_df.dtypes
types

User                int64
Card                int64
Year                int64
Month               int64
Day                 int64
Time               object
Amount             object
Use Chip           object
Merchant Name       int64
Merchant City      object
Merchant State     object
Zip               float64
MCC                 int64
Errors?            object
Is Fraud?          object
dtype: object

In [5]:
ealtman2019_df['Amount'] = ealtman2019_df['Amount'].str.replace("$","")
ealtman2019_df['Amount'] = ealtman2019_df["Amount"].astype(float)
ealtman2019_df['Amount'] = ealtman2019_df["Amount"].round(decimals = 0)
ealtman2019_df['Amount'] = ealtman2019_df['Amount'].astype(int)

C:\Users\Aaron\AppData\Local\Temp\ipykernel_26976\371686116.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ealtman2019_df['Amount'] = ealtman2019_df['Amount'].str.replace("$","")

In [6]:
ealtman2019_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,134,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,38,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,120,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,129,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,105,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No